@import 'tailwindcss' prefix(vas);

@theme {
  --color-primary: #0f766e;
  --color-primary-hover: #0d9488;
  --color-secondary: #134e4a;
  --color-surface: #f0fdfa;
  --color-border: #99f6e4;
  --color-muted: #5eead4;
  --color-text: #134e4a;
  --color-text-muted: #0f766e;
  --radius-vas: 0.5rem;
}
